.editProfile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.inputContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.deleteUserBtn {
  background-color: red;
}
