:root {
  /* theme color */
  --main-bg-color: #f0f2f5;
  --primary: #00afb9ff;
  --secondary: #0081a7ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --light-red: #f07167ff;
  --dark-text: #2d2c2c;

  /* shape */
  --box-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: var(--main-bg-color);
  font-size: 16px;
}

/* ------------------------------------------------------------ */

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

.button {
  background-color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: var(--box-radius);
  border: none;
  transition: 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.inputStyled {
  border: solid var(--primary);
  font-size: 16px;
  border-radius: 50px;
  height: 40px;
  padding-left: 20px;
}

.inputStyled:focus {
  border: none;
}

.inputStyled:invalid {
  border: solid var(--light-red);
}

.primaryButton {
  background-color: var(--primary);
  padding: 5px;
  border-radius: var(--box-radius);
  border: none;
  font-size: 1rem;
  color: white;
  transition: 0.2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.primaryButton:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.secondaryButton {
  background-color: var(--secondary);
  padding: 5px;
  border-radius: var(--box-radius);
}

.mainContainer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
